<h3>
  <div>
    <a href="<%= "#/feeds/" + feed.escape('id') %>">
      <%= feed.escape("title")%>
    </a>
    <button 
      class='delete-feed' 
      data-feed-id="<%= feed.escape('id') %>">
      delete
    </button>
  </div>
</h3>